feeds:
  url: 'https://www.archlinux.org/feeds/news/'
github:
  access_token: YOUR_GITHUB_PERSONAL_ACCESS_TOKEN
  repo: 'linux-taiwan/arch.linux.org.tw'
  labels: ['news-translation']
fiidhub:
  tmp_path: 'tmp'
  rss_snapshot: 'rss.xml'
  filename_path_prefix: '_posts/'
  filename_path_postfix: '.markdown'
